{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="container my-5">
    <h2 class="text-center">Sign Up</h2>
    
    <form method="post" class="col-md-6 mx-auto">
        {% csrf_token %}
        
        <!-- Render the form fields with Bootstrap styling -->
        {% bootstrap_form form %}
        
        <!-- Submit button with Bootstrap classes -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
        <a href="{% url "login" %}">Login If You have account?</a>
    </form>
</div>
